<% if users.any? %>
    <div class="box">
      <ul class="list-unstyled">
        <% users.each do |user| %>
        <li class="media">
          <% if user.image? %>
            <%= link_to image_tag(user.image.thumb100.url, alt: "user_image_#{user.id}"), user_path(user), class: "border mr-3 mb-3" %>
          <!--デフォルトアイコン停止中-->
          <%# else %>
            <!--<image src="/assets/default.png" class="icon mr-2 mb-2 border border-primary" alt="ユーザーアイコン" %>-->
          <% end %>
          <div class="pt-4">
            <%= link_to user.name, user_path(user) %> 
          </div>
          <div class="mt-5 mx-auto">
            <%= render 'relationships/follow_button', user: user %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <%= paginate users %>
  <% end %>  