<div class="center jumbotron-extend">
  <%= render 'layouts/flash_messages' %>
  <div class="text-center container-fluid jumbotron-container">
    <h1 class="app-title">3:snack<i class="fas fa-cookie-bite"></i></h1>
    <h4 class="sub-title">〜 ３時のおやつをシェアしませんか？ 〜</h4>
    <% if logged_in? %>
      <p class="app-user">Logged in : <%= current_user.name %></p>
    <% else %>
      <div class="mt-4 mb-4">
        <%= link_to 'Join!', join_path, class: 'btn btn-lg btn-black' %>
        <%= link_to 'Login', login_path, class: 'btn btn-lg btn-black' %>
      </div>
    <% end %>  
    <div class="row">
      <div class="about-text col-11">
        <p class="ml-5 pt-3">お家で手作りしたsweetsの写真を投稿して、レシピなどを共有できます。<br>
          ユーザー登録【Join】すると？<br>
          <i class="fas fa-stroopwafel"></i> 投稿とユーザーの詳細が見れるようになります。<br>
          <i class="fas fa-stroopwafel"></i> 気になった写真にはいいね【sweetボタン】でお気に入りにいれましょう。<br>
          <i class="fas fa-stroopwafel"></i> 気になったユーザーをフォローすることも可能です。<br>
          <i class="fas fa-stroopwafel"></i> ユーザープロフィールでユーザーの投稿した写真とお気に入りに入れた写真【sweets】をみる事ができます。
        </p>
      </div>
    </div>
  </div>
</div>


