
 /*Users page*/
 .media .icon {
   width: 100px;
   height: 100px;
 }
 /*User show page*/
 .card-body .icon {
   width: 300px;
   height: 300px;
 }
 
/*.clumns .is-multiline {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/
