/* Over all */

.header {
  width: 100%;
  letter-spacing: 1px;
}

.container {
  margin: 0;
  padding: 0;
}



/*Top-page*/


.jumbotron-extend {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 300px;
  background: url("/assets/okashi77.jpg") center no-repeat;
  background-size: cover;
  .jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
     letter-spacing: 1px;
  }
  .app-title,
  .app-user {
    color: #6c3524;
    font-family: 'Avenir', serif;
  }
  .app-title {
    font-size: 4rem;
  }
}

.btn-black {
  background-color: #000;
  color: #fff;
  font-family: 'Avenir', serif;
}

.btn-black:hover {
  background-color: #fff;
  color: #000;
}

.about-text {
  border-radius: 10px;
  background: #fdede4;
  background-size: cover;
  margin: 0 auto;
  width: 560px;
  padding-bottom: 5px;
}

/* Post page */
